<% if book.favorited_by?(user) %>
  <%= link_to favorites_path(book.id),method: :delete,remote: true do %>
    <span class="glyphicon glyphicon-heart">お気に入り数:<%= count %></span>
  <% end %>
<% else %>
  <%= link_to favorites_path(book.id), method: :post,remote:true do %>
    <span class="glyphicon glyphicon-heart-empty">お気に入り数:<%= count %></span>
  <% end %>
<% end %>